img {
 max-width: 100%;
 height: auto;
}

p {
 font-size: 16px;
}

.flex {
 display: flex;
 align-items: center;
}

.boxshadow {
 box-shadow: var(--boxShadow);
}

.icon {
 display: inline-block;
}

.move-up {
 margin-top: -100px;
}

.bm-burger-bars {
 background: #fff !important;
}

.card-title {
 margin-top: 0px;
}

.card-body {
 min-height: 200px;
 text-align: center;
}

.card-title a {
 color: #000;
 text-decoration: none !important;
}

.card-img-top {
 width: auto;
 height: 170px;
 object-fit: contain;
 padding: 0 15px;
}

.img-part {
 border-radius: 5px;
 margin: 0px;
 border: 1px solid #dddddd;
 padding: 5px;
 background: #fff;
 box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
 box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category {
 text-transform: uppercase;
 color: var(--orange);
}

.view-all {
 font-size: 20px;
 margin-top: 30px;
}

.wrapper {
 font-weight: 300;
 font-size: 16px;
 margin-left: auto;
 -webkit-transition: top 4s ease;
 transition: top 4s ease;
 color: #000;
}

.author {
 font-size: 14px;
 font-style: italic;
 margin-bottom: 15px;
}

.home {
 h2 {
  margin-top: 30px;
  font-size: 3rem;
  display: inline-block;
 }
}

.project-page.view-all {
 display: none;
}

#blog,
#projects {
 padding: 15px 0 60px 0;
}

.home #blog,
.home #projects {
 padding: 40px 0 85px 0;
}

.home #blog {
 background: url("../../assets/images/blog-bg.jpg") no-repeat center fixed;
 background-size: auto auto;
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 -ms-background-size: cover;
 min-height: 390px;
}

.home #blog h2 {
 color: #fff;
}

.home #blog .view-all {
 color: #fff;
}

.wrapper.single,
.wrapper.about {
 margin-bottom: 100px;
}


.page-header {
 padding-top: 150px;
}

.home .page-header {
 padding-top: 0;
}

/** HEADER **/
.home .top {
 display: none;
}

.lead img {
 max-height: 440px;
 width: 100%;
 object-fit: cover;
 object-position: bottom;
}

.project-wrap .card {
 min-height: 350px;
 background: #fff;
 box-shadow: 6px 7px 9px 0 rgba(0, 0, 0, 0.15) !important;
 border-top: 4px solid var(--blue);
}

/* ================ MEDIA QUERY - MAX 480 ======================= */
@media screen and (max-width: 480px) {
 h1 {
  font-size: 3rem;
 }
}